  .mainPageContent {
    display: flex;
    padding: 42px calc(50% - 500px);
    justify-content: space-between;
    background-color: gray;
  }
  
  .mainPageMainSection {
    width: 60%;
    padding-left: 40px;
    box-sizing: border-box;
  }
  
  .mainPageFavorites {
    width: 35%;
  }
  
  .mainPageSearchBox {
    margin-bottom: 35px;
  }
  
  
  @media screen and (min-width: 320px) and (max-width: 991px) {
    .mainPage {
      padding: 0;
      width: 100%;
    }
    .mainPageContent {
      padding: 20px;
      flex-direction: column-reverse;
      margin-left: 2%;
    }
    .mainPageFavorites {
      width: 50%;
    }
    .mainPageMainSection {
      margin: 30px 0;
      padding: 0;
      width: 90%;
    }
  }
  