.movieItem {
    padding: 20px;
    background-color: #B8F1B0;
    display: flex;
}

.movieImg {
    height: 150px;
    margin-right: 21px;
    width: 106px;
    object-fit: cover;
}

.movieTitle {
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 14px;
}

.movieItemAddButton {
    border: none;
    background-color: #14C38E;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}

.movieItemAddButton:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s linear;
}