.headerContainer {
    background: #14C38E;
    padding: 20px calc(50% - 500px) 10px;
}

.headerTitle {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}
