.headerContainer {
    background: rgb(43, 43, 107);
    padding: 20px calc(50% - 500px) 10px;
}

.headerTitle {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
    .headerContainer {
        width: 100%;
    }
}